body {
	/* background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%; */
    font-family: Indie Flower, sans-serif;
    
}

#title, h1 {
    width: 400px;
    display: block;
    margin:0 auto;
    text-align: center;
    color: black;
    font-weight: normal;
}
h1 {
    font-size: 40px;
}

small {
    font-size: 20px;
}

#title {
    margin-bottom: 50px;
}

#controls {
    width: 400px;
    height: 50px;
    display: block;
    margin:0 auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#message {
    width: auto;
    height: 50px;
    display: block;
    margin:0 auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;

}
.winner {
    color: #1DF915;
}

#container {
    margin:0 auto;
    width: 900px;
    height: 700px;
    /* border: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: black;
    background-color:white;
    box-shadow: 5px 5px 10px black; */
}

#board {
    margin:0 auto;
    width: 450px;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
}

.cell {
    font-family: Indie Flower, sans-serif;
    font-size: 150px;
    line-height: 150px;
}

[id='0'], [id='3'], [id='6'] {
    border-right:2px solid black;
}
[id='2'], [id='5'], [id='8'] {
    border-left:2px solid black;
}
[id='3'], [id='4'], [id='5'] {
    border-top:2px solid black;
}
[id='6'], [id='7'], [id='8'] {
    border-top:2px solid black;
}

.cell:hover, .cell:active {
    /* border: 1px solid #c6c6c6; */
    outline:none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background-color: grey;
    color: white;
    transition: 0.5s;
}

input{
    font-size:20px;
    text-align: center;
    width: 100%;
}

button{
    background-color: white;
    border: 1px solid #f2f2f2;
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin:0.5px 0.5px;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover, button:active {
    /* border: 1px solid #c6c6c6; */
    outline:none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background-color: grey;
    color: white;
    transition: 0.5s;
}
/* button:focus {
    outline: none;
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    background-color: #21f380;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



@media screen and (max-width: 1000px) {

    #container {
        width: 100vw;
        height: 90vh;
    }

    h1 {
        font-size: 5em;
    }
    
    small {
        font-size: 2em;
    }
    
    #title {
        margin-bottom: 4em;
    }
    #controls {
        font-size: 4em;
        height: 1em;
        margin-bottom: 1em;
    }
    #message {
        font-size: 4em;
        height: 1em;
        margin-bottom: 1em;
    }
    #board {
        width: 75vw;
        grid-template-rows: repeat(3, 25vmin);
        grid-template-columns: repeat(3, 25vmin);
    }
    .cell {
        font-size: 25vmin;
        line-height: 25vmin;
    }
    
    * { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

    .switch {
        width: 2em;
        height: 1em;
    }
    
    .slider:before {
        height: .8em;
        width: .8em;
        left: .1em;
        bottom: .1em;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(1em);
        -ms-transform: translateX(1em);
        transform: translateX(1em);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 1em;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

}
@media screen and (max-width: 1000px) and (orientation: landscape) {

    #container {
        height: 100vh;
    }

    h1 {
        font-size: 2em;
    }
    
    small {
        font-size: 1em;
    }
    
    #title {
        margin-bottom: 1em;
    }
    #title {
        display: none; 
    }

    #controls {
        padding-top: .5em;
        font-size: 2em;
        height: 1em;
        margin-bottom: .5em;
    }
    #message {
        font-size: 2em;
        height: 1em;
        margin-bottom: .5em;
    }
    #board {
        width: 75vh;
        grid-template-rows: repeat(3, 25vmin);
        grid-template-columns: repeat(3, 25vmin);
    }
 
}

